
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-admin">
    <h1>TRANG CHỦ ADMIN</h1>
</div>
<style>
    .main-admin {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh
    }
</style>

